<section id="modal">
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<!-- modal content goes in here from "custom.js" -->
			</div>
		</div>
	</div>
</section>