<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav position-fixed">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="ti-shield menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/books">
        <i class="ti-book menu-icon"></i>
        <span class="menu-title">Books</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/messages">
        <i class="ti-email menu-icon"></i>
        <span class="menu-title">Message</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/editpage">
        <i class="ti-pencil-alt menu-icon"></i>
        <span class="menu-title">Home Page</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/settings">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
  </ul>
</nav>